[submodule "pipelines/TGSGermlineMutPipe"]
	path = pipelines/TGSGermlineMutPipe
	url = https://github.com/PengJia6/TGSGermlineMutPipe.git
[submodule "pipelines/Postassm"]
	path = pipelines/Postassm
	url = https://github.com/PengJia6/Postassm.git
[submodule "pipelines/gapless"]
	path = pipelines/gapless
	url = https://github.com/PengJia6/gapless.git
[submodule "pipelines/NGSGermlineMutPipe"]
	path = pipelines/NGSGermlineMutPipe
	url = https://github.com/PengJia6/NGSGemlineMutPipe

